@import "tailwindcss";

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #000000;
    color: #ffffff;
    overflow: hidden;
  }

  .font-pixel {
    font-family: 'basis33', monospace;
  }
}
